{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {%  for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="mt-4">Ajout d'un nouveau film</h1>
        {{ form_start(form) }}
        <div class = "form-error">
            {{ form_errors(form) }}
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.realisateur) }}
                {{ form_widget(form.realisateur) }}
                {{ form_errors(form.realisateur) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-group">
                {{ form_label(form.duree) }}
                {{ form_widget(form.duree) }}
                {{ form_errors(form.duree) }}
            </div>
            <div class="form-group">
                {{ form_label(form.genre) }}
                {{ form_widget(form.genre) }}
                {{ form_errors(form.genre) }}
            </div>
            <div class="form-group">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="form-group">
                {{ form_label(form.acteursPrincipaux) }}
                {{ form_widget(form.acteursPrincipaux) }}
                {{ form_errors(form.acteursPrincipaux) }}
            </div>
            <div class="form-group">
                {{ form_label(form.iframePath) }}
                {{ form_widget(form.iframePath) }}
                {{ form_errors(form.iframePath) }}
            </div>
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}