{% extends 'base.html.twig' %}

{% block title %}Catalogue de musique{% endblock %}

{% block body %}
    <style>
        .example-wrapper { padding: 20px 20px; max-width: 100%; width: 100%; font: 18px/1.5 sans-serif;}
        .example-wrapper code { padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <h1 style="text-align: center;">Catalogue de musique</h1>
        <div style="display: flex;flex-wrap: nowrap;">
            <div class="container custom-container mt-3" >
                <div class="row">
                    <div class="col-12">
                        <form class="form-inline mb-3" action="{{ url('app_catalogue_musique') }}" method="get">
                            <div class="input-group">
                                {{ form_widget(form.query, {'attr': {'class': 'form-control mr-2', 'placeholder': 'Search'}}) }}
                                <div class="input-group-append">
                                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary', 'style': 'background-color: deepskyblue;'}}) }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <ul>
            <div style="display: flex;flex-wrap: nowrap;">
                {% for musique in musiques %}
                    <div class="card" style="width: 20rem; height: 25rem; margin: 20px 20px; color:white; background-color: #441b71">
                        <img class="card-img-top" src="{{ musique.image_path|e }}" alt="" style="height: 50%;">
                        <div class="card-body" style="height:50%;">
                            <h5 class="card-title" style="height:30%; font-weight: bold;font-size: 25px;text-align: center;">{{ musique.name|e }}</h5>
                            <p class="card-text" style="height:20%;">Note moyenne : 10</p>
                            <a href="/public/player_musique/{{ musique.id|e }}" class="btn btn-primary" style="height:35%;color:white; background-color:deepskyblue;text-align: center;">Go watch</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </ul>
    </div>
{% endblock %}
