<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="{{ asset('img/logo.png') }}" alt="logo" width="100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('home.index') }}">Accueil<span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nos films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about') }}">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_partners') }}">Nos partenaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
                </li>
            </ul>
            <a href="{{ path('app_user_profile') }}" target="_blank" title="Profil"><i class="fa-solid fa-user fa-xl"></i></a>
            &emsp;
            <a href="{{ path('app_logout') }}" target="_blank" title="(Dé)connexion"><i class="fa-solid fa-right-to-bracket fa-xl"></i></a>
            <form class="d-flex" style="margin-left:20px">
                <input class="form-control me-sm-2" type="search" placeholder="Rechercher">
                <button class="btn btn-primary btn-lg" type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
</nav>